@charset "utf-8";
/* CSS Document */
#content .media{
	position:relative;
}
#content .media > a{
	background:url(../icons/t.png)  no-repeat;
}

#content .ready{
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.6);
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
}

#content .active .ready{
	visibility:visible;
}