@charset "utf-8";
/* CSS Document */
#footer .mine i{
	background:url(../icons/f_icons_active.png) no-repeat -76px;
}

#content .tab2 .message{
	background:url(../icons/message.png) 0 2px no-repeat;
}
#content .tab2 .set{
	background:url(../icons/message.png) 0 -42px no-repeat;
}
#content .tab2 .portrait{
	width:40px;
	float:left;
	border-radius:8px;
}
#content .tab2 span{
	display:inline-block;
	float:left;
	text-indent:16px;
	line-height:36px;	
}
#content .tab2 li a span {
	text-align:left;
	color:#666;
	
}
#content .tab2 li span >h5 a {
	color:#666;
	font-size:15px;
	line-height:20px;
}
#content .tab2 li span > h6 {
	font-size:12px;
	color:#999;
	line-height:24px;
	text-indent:20px;
}

#content .tab2 li a .couple{
	color:#e73828;
	font-style:normal;
	position:absolute;
	right:0;
	top:0;
}
#content .tab3 .binding{
	color:#e73828;
	font-style:normal;
}
#content .tab3 .yes{
	color:#99a9ba;
}


#content .tab3 .nounderline{
	padding:20px 0;
}

#content .tab2 h4{
	float:left;
	color:#666;
	font-size:16px;
	text-indent:12px;
	height:30px;
	font-style:normal;
}

#content .tab2 h4 > strong{
	font-size:24px;
	color:#e73828;
	font-style:normal;
}
#content .tab2 h4 > small{
	color:#e73828;
}




#content .tab2 .own a{
	display:inline-block;
	width: 32%;
	color:#99a9ba;
	font-size:12px;
	border-right:1px solid #eee;

}
#content .tab2 span{
	display:inline-block;
	margin:0 6px;
}
#content .tab2 span.order{	
	width:20px;
	height:20px;
	background:url(../icons/m_icon.png) no-repeat;
}
#content .tab2 span.recored{
	width:20px;
	height:20px;
	background:url(../icons/m_icon.png) -32px 0 no-repeat;
}
#content .tab2 span.couple_i{
	width:20px;
	height:20px;
	background:url(../icons/m_icon.png) -62px 0 no-repeat;
}
#content .tab3 span{
	display:inline-block;
	margin:18px 10px 0  10px;
}
#content .tab2 span.recharge{	
	width:20px;
	height:20px;
	background:url(../icons/m_icon.png) -1px -29px no-repeat;
	
}
#content .tab2 span.withdraw{
	width:20px;
	height:20px;
	background:url(../icons/m_icon.png) -34px -29px no-repeat;
}
#content .tab2 span.oilcard{
	width:20px;
	height:20px;
	background:url(../icons/m_icon.png) -63px -29px no-repeat;
}


#content .tab2 span.bankcard{
	width:20px;
	height:20px;
	background:url(../icons/m_icon.png) -93px -29px no-repeat;
}

#content .tab3 li a{
	width:49% !important;
}


#content .tab3  td{
	line-height:36px;
	border:1px solid #eee !important;
	border-top:none;
	width:50%;
	text-align:left;
	font-style:normal;
	line-height:56px;
}
#content .tab3  td a{
	display:block;
	width:68%;
	margin:0 auto;
	color:#99a9ba;
}

@media( max-width:320px){
	#content .tab3  td a{
		width:76%;
	}	
}
@media( min-width:375px){
	#content .tab3  td a{
		width:68%;
	}	
}

#content .tab2 .back {
	color:#e73828;
	text-align:center;
	display:block;
	float:none;
	font-style:normal;
}

