@charset "utf-8";
/* CSS Document */
#footer .package i{
	background:url(../icons/f_icons_active.png) no-repeat;
}

#content .center{
	margin:10px;
}

#content .tab label{
	display:block;
	font-weight:bold;
	color:#231815; 
	padding-left:24px;
	background:url(../icons/shopping-car.png) no-repeat;
	background-size:18px;
}

#content .tab h2{ 
  font-size:48px; 
  color:#e73828; 
  font-weight:600;
  text-align:center;
  padding:10px 0 20px 0;
  letter-spacing:-1px;
  font-family:Arial, Helvetica, sans-serif;
}
#content .tab h2 small{
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	font-size:24px; 
	margin:0 0 0 4px; 
	color: inherit; 
}


#content .tab ul{
	width:86%;
	margin:0 auto;
}
#content .tab ul li{
	font-size:12px;
	float:left;
	color:#99a9ba;
	padding-left:21px;
	display:block;
	margin:-10px 10px 10px 10px;
}
#content .tab ul li.clock{	
	background:url(../icons/p_icons.png) 0 -1px / 24px no-repeat;
}
#content .tab ul li.locking{	
	background:url(../icons/p_icons.png) 0 -32px/ 24px no-repeat;
}
#content .tab ul li.calendar{	
	background:url(../icons/p_icons.png) 0 -60px/ 24px no-repeat;
}

#content .tab-position{
	position:relative
}
#content .tab > .butie{
	width:100px;
	height:81px;
	background:url(../images/butie.png) no-repeat;
	background-size:100%;
	position:absolute;
	right:4px;
	top:-10px;
}

#content button.sub-btn{
	width:80% !important; 
	height:40px !important;
	line-height:36px;
	font-size:16px;
	letter-spacing:1px;
}







@media( max-width:320px){
	#content .tab ul li{
		font-size:8px;
		margin:-10px 2px 10px 2px;
	}
	#content .tab h2{ 
	  font-size:36px; 
	}
}
@media( min-width:375px){
	#content .tab ul li{
		font-size:12px;
		margin:-10px 10px 10px 10px;
	}
	#content .tab h2{ 
	  font-size:48px; 
	}
}


/*@media( max-width:730px){
	#content .tab ul li.clock{	
		background:url(../icons/p_icons.png) 0% -1px /24px no-repeat;
	}
	#content .tab ul li.locking{	
		background:url(../icons/p_icons.png) 0% -32px/ 24px no-repeat;
	}
	#content .tab ul li.calendar{	
		background:url(../icons/p_icons.png) 0% -60px/ 24px no-repeat;
	}
}
@media( min-width:730px){
	#content .tab ul li.clock{	
		background:url(../icons/p_icons.png) 28% -1px /24px no-repeat;
	}
	#content .tab ul li.locking{	
		background:url(../icons/p_icons.png) 28% -32px/ 24px no-repeat;
	}
	#content .tab ul li.calendar{	
		background:url(../icons/p_icons.png) 28% -60px/ 24px no-repeat;
	}
}
*/
/*.content .tab h3{ 
	color:#231815; 
	font-size:14px; 
	padding:6px 0 0 10px;
	
}

.content .tab h3 img{ 
	width:24px; 
	padding:0 8px 0 0;
}
.content .tab h3 label{ 
	font-weight:bold;
}

.content .tab h4{ 
	font-size:18px;
	color:#99a9ba;
	text-align:center;
}



.content .tab a{ 
	width:80%; 
	height:40px; 
	background:#e73828; 
	display:block; 
	margin:0 auto;
	border:none; 
	border-bottom:4px solid #c30d23; 
	color:#fff;
	margin-bottom:10px;
	margin-top:10px;
	font-size:16px;
	border-radius:10px;
	line-height:26px;
	clear:both;
}


.content .tab ul{
	margin-left:32px;
}
.content .tab ul li{
	text-align:center; 
	width:33%;
	margin:0 -4px;
	font-size:14px;
	color:#99a9ba;
	float:left;
	padding:0px 0px 10px 0px;
	font-weight:normal;
}





@media( max-width:320px){
	.content .tab ul{
		margin-left:26px;
	}
	.content .tab ul li{
		text-align:center; 
		width:33%;
		margin:0 -4px;
		font-size:12px;
		color:#99a9ba;
		float:left;
		padding:0px 0px 10px 0px;
		font-weight:normal;
	}
	
	.content .tab h2{ 
		font-size:42px; 
		color:#e73828; 
		font-weight:600;
		text-align:center;
		padding:10px 0 20px 0;
		letter-spacing:-1px;
		font-family:Arial, Helvetica, sans-serif;
	}
	.content .tab h2 small{
		font-size:20px; 
		color:#e73828; 
	}
	
}
@media( min-width:375px){
	
	.content .tab ul{
		margin-left:32px;
	}
	.content .tab ul li{
		text-align:center; 
		width:33%;
		margin:0 -4px;
		font-size:14px;
		color:#99a9ba;
		float:left;
		padding:0px 0px 10px 0px;
		font-weight:normal;
	}
	
	.content .tab h2{ 
	  font-size:48px; 
	  color:#e73828; 
	  font-weight:600;
	  text-align:center;
	  padding:10px 0 20px 0;
	  letter-spacing:-1px;
	  font-family:Arial, Helvetica, sans-serif;
	}
	.content .tab h2 small{
		font-size:24px; 
		color:#e73828; 
	}
	
}


.content .tab ul li img{
	width:12px;
}

.tab span{
	float:right; 
	margin-top:-40px; 
	margin-right:4%;
}
.tab span small{
	font-size:14px; 
	color:#231815;	
}*/