@charset "utf-8";
/* CSS Document */
.form > #btn[type="button"]{
	top:10px;
}
.label-height{
	line-height:2.4 !important;
}

#textBox1{
	font-size:18px;
}

/*.pull-right{
	color:#99a9ba;
	font-size:14px;
	margin:0 10px 0 0 ;
}*/
.infor{
	position:relative;
}
.record{
	position:absolute;
	right:20px;
	top:20px;
}